*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    flex-direction: row;
    background-color: #2bbd52;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}